@import "../font";

.home_container {
  margin: 80px 0px 80px;
  letter-spacing: $letter_spacing;
  font-family: $font_family;

  // 最初のロゴ
  .home_index_img {
    height: 90vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      display: block;
    }
  }

  //   会社概要
  .home_index_about {
    text-align: center;
    .home_index_about_title {
      font-size: $pc_main;
      border-left: none;
      width: 70%;
    }

    .home_index_about_contents {
      font-size: $pc_subsub;
      table {
        width: 70%;
        border-collapse: collapse;
        margin: 0 auto;
      }

      table tr {
        border-bottom: solid 20px white;
      }

      table tr:last-child {
        border-bottom: none;
      }

      table th {
        position: relative;
        text-align: left;
        width: 30%;
        background-color: #59b69e;
        color: white;
        text-align: center;
        padding: 10px 0;
        border-radius: 8px 0px 0px 8px;
      }

      table th:after {
        display: block;
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        top: calc(50% - 10px);
        right: -10px;
        border-left: 10px solid #59b69e;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
      }

      table td {
        text-align: left;
        width: 70%;
        text-align: center;
        background-color: #eee;
        padding: 10px 0;
        border-radius: 0px 8px 8px 0px;
      }
    }
  }
  // 経営陣略歴
  .home_index_biography {
    text-align: center;
    margin: 0 auto;
    width: 70%;

    .home_index_biography_title {
      font-size: $pc_main;
    }

    .home_index_biography_context {
      .home_index_biography_context_name {
        font-size: $pc_sub;
        text-align: start;
        border-left: 5px solid #59b69e;
        padding-left: 20px;
        line-height: 50px;
      }
      .home_index_biography_context_detail {
        display: flex;
        .home_index_biography_img {
          width: 50%;
          img {
            width: 250px;
            height: 250px;
            border-radius: 100%;
          }
        }
        .home_index_biography_items {
          width: 50%;
          .home_index_biography_item {
            font-size: $pc_subsub;
            text-align: start;
            display: flex;
            text-align: end;
            padding: 15px 0px;
            border-bottom: 1px solid #ddd;

            span {
              display: block;
              font-weight: bold;
              width: 150px;
              text-align: start;
            }
            p {
              width: 100%;
              text-align: start;
            }
          }
          .home_index_biography_item:first-child {
            border-top: 1px solid #ddd;
          }
        }
      }
    }
  }

  // 社長あいさつ
  .home_index_president {
    text-align: center;
    margin: 0 auto;
    width: 70%;

    .home_index_president_title {
      font-size: $pc_main;
    }
    .home_index_president_img {
      img {
        height: 450px;
        border-radius: 8px;
        box-shadow: 10px 10px 0px 0 rgba(104, 141, 83, 0.5);
      }
    }
    .home_index_president_message {
      .home_index_president_message_main {
        line-height: 2em;
        text-align: start;
        font-size: $pc_subsub + 2;
      }
      .home_index_president_message_end {
        text-align: end;
      }
    }
  }

  //   事業紹介
  .home_index_activity {
    text-align: center;
    .home_index_activity_title {
      font-size: $pc_main;
    }
    .home_index_activity_contents {
      display: grid;
      grid-template-columns: repeat(3, 320px);
      justify-content: center;
      gap: 20px;

      .home_index_activity_card:hover {
        .card-img {
          transform: scale(1.2, 1.2);
          transition: 1s all;
        }
      }

      .home_index_activity_card {
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px #ccc;
        overflow: hidden; //これを記述することではみ出た部分を非表示にします。

        .card-img {
          width: 100%;
          height: 200px;
          border-radius: 5px 5px 0 0;
          transition: 1s all;
        }
        .card-content {
          padding: 20px;

          .card-title {
            font-size: $pc_sub;
            margin-bottom: 20px;
            text-align: center;
            color: #333;
          }
          .card-text {
            color: #777;
            font-size: 14px;
            line-height: 1.5;
            text-align: center;
          }
        }
        .card-link {
          text-align: center;
          border-top: 1px solid #eee;
          padding: 20px;
        }
      }
    }
  }
  // 背景に文字入れ
  .heading06 {
    position: relative;
    padding-top: 50px;
    font-size: $pc_main;
    text-align: center;
  }

  .heading06 span {
    position: relative;
    z-index: 2;
  }

  .heading06::before {
    width: fit-content;
    content: attr(data-en);
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(89, 182, 158, 0.2);
    font-size: 80px;
    font-style: italic;
  }
  .triple_border {
    margin: 0 auto;
    width: 90%;
    border-bottom: 2px solid #212529;
    position: relative;
    padding-bottom: 30px;
  }
  .triple_border::before {
    content: "";
    display: block;
    border-bottom: 2px solid #59b69e;
    width: 45%;
    position: absolute;
    left: 0;
    bottom: -2px;
  }
  .triple_border::after {
    content: "";
    display: block;
    border-bottom: 2px solid #59b69e;
    width: 45%;
    position: absolute;
    right: 0;
    bottom: -2px;
  }
  .service {
    width: 70%;
  }
}

@media screen and (max-width: 1024px) {
  .home_container {
    // 経営陣略歴
    .home_index_biography {
      width: 90%;
    }

    // 社長あいさつ
    .home_index_president {
      width: 80%;
      .home_index_president_img {
        img {
          height: 300px;
        }
      }
    }

    //   事業紹介
    .home_index_activity {
      width: 95%;
      text-align: center;
      margin: 0 auto;
      .home_index_activity_title {
        font-size: $pc_main;
      }
      .home_index_activity_contents {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 20px;

        .home_index_activity_card:hover {
          .card-img {
            transform: scale(1.2, 1.2);
            transition: 1s all;
          }
        }

        .home_index_activity_card {
          background: #fff;
          border-radius: 5px;
          box-shadow: 0 2px 5px #ccc;
          overflow: hidden; //これを記述することではみ出た部分を非表示にします。

          .card-img {
            width: 100%;
            height: 200px;
            border-radius: 5px 5px 0 0;
            transition: 1s all;
          }
          .card-content {
            padding: 20px;

            .card-title {
              font-size: $pc_sub;
              margin-bottom: 20px;
              text-align: center;
              color: #333;
            }
            .card-text {
              color: #777;
              font-size: 14px;
              line-height: 1.5;
              text-align: center;
            }
          }
          .card-link {
            text-align: center;
            border-top: 1px solid #eee;
            padding: 20px;
          }
        }
      }
    }
    // 背景に文字入れ
    .heading06 {
      position: relative;
      padding-top: 50px;
      font-size: $pc_main;
      text-align: center;
    }

    .heading06 span {
      position: relative;
      z-index: 2;
    }

    .heading06::before {
      content: attr(data-en);
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      color: rgba(89, 182, 158, 0.2);
      font-size: 55px;
      font-style: italic;
    }
  }
}

@media screen and (max-width: 750px) {
  .home_container {
    margin: 0px 5px;
    margin-top: 50px;
    .home_index_img {
      height: 90vh;
    }
    //   会社概要
    .home_index_about {
      text-align: center;
      .home_index_about_title {
        width: 90%;
      }

      .home_index_about_contents {
        width: 95%;
        margin: 0 auto;
        table {
          font-size: $sm_subsub;
          width: 100%;
        }
        table tr {
          border-bottom: solid 5px white;
        }
      }
    }
    // 経営陣略歴
    .home_index_biography {
      .home_index_biography_title {
        font-size: $sm_main;
      }

      .home_index_biography_context {
        .home_index_biography_context_name {
          font-size: $sm_sub;
          padding-left: 10px;
        }
        .home_index_biography_context_detail {
          display: flex;
          flex-direction: column;
          align-items: center;
          .home_index_biography_img {
            width: 90%;
            img {
              width: 250px;
              height: 250px;
              border-radius: 100%;
            }
          }
          .home_index_biography_items {
            margin-top: 10px;
            width: 90%;
            .home_index_biography_item {
              font-size: $sm_subsub;
              text-align: start;
              display: flex;
              text-align: end;
              padding: 15px 0px;
              border-bottom: 1px solid #ddd;

              span {
                display: block;
                font-weight: bold;
                width: 150px;
                text-align: start;
              }
              p {
                width: 100%;
                text-align: start;
              }
            }
            .home_index_biography_item:first-child {
              border-top: 1px solid #ddd;
            }
          }
        }
      }
    }

    // 社長あいさつ
    .home_index_president {
      text-align: center;
      margin: 0 auto;
      width: 90%;

      .home_index_president_title {
        font-size: $sm_main;
      }
      .home_index_president_img {
        img {
          height: 140px;
          box-shadow: 5px 5px 0px 0 rgba(104, 141, 83, 0.5);
        }
      }
      .home_index_president_message {
        .home_index_president_message_main {
          line-height: 2em;
          text-align: start;
          font-size: $sm_sub;
          width: 85%;
          margin: 0 auto;
        }
        .home_index_president_message_end {
          text-align: end;
          font-size: $sm_subsub;
        }
      }
    }
    //   事業紹介
    .home_index_activity {
      text-align: center;
      .home_index_activity_title {
        font-size: $sm_main;
      }
      .home_index_activity_contents {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 10px;

        .home_index_activity_card {
          width: 45%;
          width: 100%;
          height: 200px;
          background: #fff;
          border-radius: 5px;
          box-shadow: 0 2px 5px #ccc;
          margin: 0px;
          margin-bottom: 10px;

          .card-img {
            width: 100%;
            height: 90px;
            border-radius: 5px 5px 0 0;
          }
          .card-content {
            padding: 5px;

            .card-title {
              font-size: $sm_sub;
              margin-bottom: 5px;
              text-align: center;
              color: #333;
              font-family: $font_family;
            }
            .card-text {
              color: #777;
              font-size: $sm_subsub;
              text-align: center;
              font-family: $font_family;
            }
          }
          .card-link {
            text-align: center;
            border-top: 1px solid #eee;
            padding: 0px;
            height: auto;
          }
        }
      }
    }
  }
  // 背景に文字入れ
  .heading06 {
    position: relative;
    padding-top: 50px;
    font-size: $sm_main !important;
    text-align: center;
  }

  .heading06 span {
    position: relative;
    z-index: 2;
  }

  .heading06::before {
    width: fit-content;
    content: attr(data-en);
    position: absolute;
    top: 10px !important;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(89, 182, 158, 0.2);
    font-size: 55px !important;
    font-style: italic;
  }
}
