@charset "UTF-8";
.home_container {
  margin: 80px 0px 80px;
  letter-spacing: 2px;
  font-family: "游ゴシック体", YuGothic;
}

.home_container .home_index_img {
  height: 90vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home_container .home_index_img img {
  display: block;
}

.home_container .home_index_about {
  text-align: center;
}

.home_container .home_index_about .home_index_about_title {
  font-size: 32px;
  border-left: none;
  width: 70%;
}

.home_container .home_index_about .home_index_about_contents {
  font-size: 16px;
}

.home_container .home_index_about .home_index_about_contents table {
  width: 70%;
  border-collapse: collapse;
  margin: 0 auto;
}

.home_container .home_index_about .home_index_about_contents table tr {
  border-bottom: solid 20px white;
}

.home_container .home_index_about .home_index_about_contents table tr:last-child {
  border-bottom: none;
}

.home_container .home_index_about .home_index_about_contents table th {
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #59b69e;
  color: white;
  text-align: center;
  padding: 10px 0;
  border-radius: 8px 0px 0px 8px;
}

.home_container .home_index_about .home_index_about_contents table th:after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: calc(50% - 10px);
  right: -10px;
  border-left: 10px solid #59b69e;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.home_container .home_index_about .home_index_about_contents table td {
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
  border-radius: 0px 8px 8px 0px;
}

.home_container .home_index_biography {
  text-align: center;
  width: 100%;
  padding: 0 15%;
}

.home_container .home_index_biography .home_index_biography_title {
  font-size: 32px;
}

.home_container .home_index_biography .home_index_biography_context .home_index_biography_context_name {
  font-size: 24px;
  text-align: start;
  border-left: 5px solid #59b69e;
  padding-left: 20px;
  line-height: 50px;
}

.home_container .home_index_biography .home_index_biography_context .home_index_biography_context_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home_container .home_index_biography .home_index_biography_context .home_index_biography_context_detail .home_index_biography_img {
  width: 50%;
}

.home_container .home_index_biography .home_index_biography_context .home_index_biography_context_detail .home_index_biography_img img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}

.home_container .home_index_biography .home_index_biography_context .home_index_biography_context_detail .home_index_biography_items {
  width: 50%;
}

.home_container .home_index_biography .home_index_biography_context .home_index_biography_context_detail .home_index_biography_items .home_index_biography_item {
  font-size: 16px;
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: end;
  padding: 15px 0px;
  border-bottom: 1px solid #ddd;
}

.home_container .home_index_biography .home_index_biography_context .home_index_biography_context_detail .home_index_biography_items .home_index_biography_item span {
  display: block;
  font-weight: bold;
  width: 150px;
  text-align: start;
}

.home_container .home_index_biography .home_index_biography_context .home_index_biography_context_detail .home_index_biography_items .home_index_biography_item p {
  width: 100%;
  text-align: start;
}

.home_container .home_index_biography .home_index_biography_context .home_index_biography_context_detail .home_index_biography_items .home_index_biography_item:first-child {
  border-top: 1px solid #ddd;
}

.home_container .home_index_action {
  text-align: center;
  margin: 0 auto;
  width: 70%;
}

.home_container .home_index_action .home_index_action_title {
  font-size: 32px;
}

.home_container .home_index_action .home_index_action_video .video {
  width: 80%;
  height: 450px;
  border-radius: 8px;
}

.home_container .home_index_action .home_index_action_message {
  padding: 50px;
}

.home_container .home_index_action .home_index_action_message .home_index_action_message_main {
  line-height: 2em;
  text-align: start;
  font-size: 18px;
}

.home_container .home_index_action .home_index_action_message .home_index_action_message_main .home_index_activity_message_main_strong {
  color: #ffd700;
  font-size: 32px;
}

.home_container .home_index_president {
  text-align: center;
  margin: 0 auto;
  width: 70%;
}

.home_container .home_index_president .home_index_president_title {
  font-size: 32px;
}

.home_container .home_index_president .home_index_president_img img {
  height: 450px;
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 0px 0 rgba(104, 141, 83, 0.5);
          box-shadow: 10px 10px 0px 0 rgba(104, 141, 83, 0.5);
}

.home_container .home_index_president .home_index_president_message .home_index_president_message_main {
  line-height: 2em;
  text-align: start;
  font-size: 18px;
}

.home_container .home_index_president .home_index_president_message .home_index_president_message_end {
  text-align: end;
}

.home_container .home_index_activity {
  text-align: center;
}

.home_container .home_index_activity .home_index_activity_title {
  font-size: 32px;
}

.home_container .home_index_activity .home_index_activity_contents {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (320px)[3];
      grid-template-columns: repeat(3, 320px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.home_container .home_index_activity .home_index_activity_contents .home_index_activity_card:hover .card-img {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: 1s all;
  transition: 1s all;
}

.home_container .home_index_activity .home_index_activity_contents .home_index_activity_card {
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px #ccc;
          box-shadow: 0 2px 5px #ccc;
  overflow: hidden;
}

.home_container .home_index_activity .home_index_activity_contents .home_index_activity_card .card-img {
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0 0;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.home_container .home_index_activity .home_index_activity_contents .home_index_activity_card .card-content {
  padding: 20px;
}

.home_container .home_index_activity .home_index_activity_contents .home_index_activity_card .card-content .card-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.home_container .home_index_activity .home_index_activity_contents .home_index_activity_card .card-content .card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.home_container .home_index_activity .home_index_activity_contents .home_index_activity_card .card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}

.home_container .heading06 {
  position: relative;
  padding-top: 50px;
  font-size: 32px;
  text-align: center;
}

.home_container .heading06 span {
  position: relative;
  z-index: 2;
}

.home_container .heading06::before {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  content: attr(data-en);
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: rgba(89, 182, 158, 0.2);
  font-size: 80px;
  font-style: italic;
}

.home_container .triple_border {
  margin: 0 auto;
  width: 90%;
  border-bottom: 2px solid #212529;
  position: relative;
  padding-bottom: 30px;
}

.home_container .triple_border::before {
  content: "";
  display: block;
  border-bottom: 2px solid #59b69e;
  width: 45%;
  position: absolute;
  left: 0;
  bottom: -2px;
}

.home_container .triple_border::after {
  content: "";
  display: block;
  border-bottom: 2px solid #59b69e;
  width: 45%;
  position: absolute;
  right: 0;
  bottom: -2px;
}

.home_container .service {
  width: 70%;
}

@media screen and (max-width: 1024px) {
  .home_container .home_index_biography {
    width: 100%;
    padding: 0px 5%;
  }
  .home_container .home_index_action {
    width: 80%;
  }
  .home_container .home_index_action .home_index_action_video .video {
    width: 540px;
    height: 300px;
  }
  .home_container .home_index_action .home_index_action_message {
    padding: 0px;
    width: 80%;
    margin: 0 auto;
  }
  .home_container .home_index_president {
    width: 80%;
  }
  .home_container .home_index_president .home_index_president_img img {
    height: 300px;
  }
  .home_container .home_index_activity {
    width: 95%;
    text-align: center;
    margin: 0 auto;
  }
  .home_container .home_index_activity .home_index_activity_title {
    font-size: 32px;
  }
  .home_container .home_index_activity .home_index_activity_contents {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .home_container .home_index_activity .home_index_activity_contents .home_index_activity_card:hover .card-img {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    -webkit-transition: 1s all;
    transition: 1s all;
  }
  .home_container .home_index_activity .home_index_activity_contents .home_index_activity_card {
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px #ccc;
            box-shadow: 0 2px 5px #ccc;
    overflow: hidden;
  }
  .home_container .home_index_activity .home_index_activity_contents .home_index_activity_card .card-img {
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
    -webkit-transition: 1s all;
    transition: 1s all;
  }
  .home_container .home_index_activity .home_index_activity_contents .home_index_activity_card .card-content {
    padding: 20px;
  }
  .home_container .home_index_activity .home_index_activity_contents .home_index_activity_card .card-content .card-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  .home_container .home_index_activity .home_index_activity_contents .home_index_activity_card .card-content .card-text {
    color: #777;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
  }
  .home_container .home_index_activity .home_index_activity_contents .home_index_activity_card .card-link {
    text-align: center;
    border-top: 1px solid #eee;
    padding: 20px;
  }
  .home_container .heading06 {
    position: relative;
    padding-top: 50px;
    font-size: 32px;
    text-align: center;
  }
  .home_container .heading06 span {
    position: relative;
    z-index: 2;
  }
  .home_container .heading06::before {
    content: attr(data-en);
    position: absolute;
    top: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    color: rgba(89, 182, 158, 0.2);
    font-size: 55px;
    font-style: italic;
  }
}

@media screen and (max-width: 750px) {
  .home_container {
    margin: 0px 5px;
    margin-top: 50px;
  }
  .home_container .home_index_img {
    height: 90vh;
  }
  .home_container .home_index_about {
    text-align: center;
  }
  .home_container .home_index_about .home_index_about_title {
    width: 90%;
  }
  .home_container .home_index_about .home_index_about_contents {
    width: 95%;
    margin: 0 auto;
  }
  .home_container .home_index_about .home_index_about_contents table {
    font-size: 12px;
    width: 100%;
  }
  .home_container .home_index_about .home_index_about_contents table tr {
    border-bottom: solid 5px white;
  }
  .home_container .home_index_biography .home_index_biography_title {
    font-size: 20px;
  }
  .home_container .home_index_biography .home_index_biography_context .home_index_biography_context_name {
    font-size: 14px;
    padding-left: 10px;
  }
  .home_container .home_index_biography .home_index_biography_context .home_index_biography_context_detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home_container .home_index_biography .home_index_biography_context .home_index_biography_context_detail .home_index_biography_img {
    width: 90%;
  }
  .home_container .home_index_biography .home_index_biography_context .home_index_biography_context_detail .home_index_biography_img img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
  }
  .home_container .home_index_biography .home_index_biography_context .home_index_biography_context_detail .home_index_biography_items {
    margin-top: 10px;
    width: 90%;
  }
  .home_container .home_index_biography .home_index_biography_context .home_index_biography_context_detail .home_index_biography_items .home_index_biography_item {
    font-size: 12px;
    text-align: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: end;
    padding: 15px 0px;
    border-bottom: 1px solid #ddd;
  }
  .home_container .home_index_biography .home_index_biography_context .home_index_biography_context_detail .home_index_biography_items .home_index_biography_item span {
    display: block;
    font-weight: bold;
    width: 150px;
    text-align: start;
  }
  .home_container .home_index_biography .home_index_biography_context .home_index_biography_context_detail .home_index_biography_items .home_index_biography_item p {
    width: 100%;
    text-align: start;
  }
  .home_container .home_index_biography .home_index_biography_context .home_index_biography_context_detail .home_index_biography_items .home_index_biography_item:first-child {
    border-top: 1px solid #ddd;
  }
  .home_container .home_index_action {
    width: 90%;
  }
  .home_container .home_index_action .home_index_action_video .video {
    width: 90%;
  }
  .home_container .home_index_action .home_index_action_message {
    padding: 0px;
  }
  .home_container .home_index_action .home_index_action_message .home_index_action_message_main {
    font-size: 14px;
  }
  .home_container .home_index_action .home_index_action_message .home_index_action_message_main .home_index_activity_message_main_strong {
    color: #ffd700;
    font-size: 20px;
  }
  .home_container .home_index_action .home_index_action_message .home_index_action_message_main .home_index_activity_message_main_strong .home_index_activity_message_main_strong {
    color: #ffd700;
    font-size: 24px;
  }
  .home_container .home_index_president {
    text-align: center;
    margin: 0 auto;
    width: 90%;
  }
  .home_container .home_index_president .home_index_president_title {
    font-size: 20px;
  }
  .home_container .home_index_president .home_index_president_img img {
    width: 80%;
    height: auto;
    -webkit-box-shadow: 5px 5px 0px 0 rgba(104, 141, 83, 0.5);
            box-shadow: 5px 5px 0px 0 rgba(104, 141, 83, 0.5);
  }
  .home_container .home_index_president .home_index_president_message .home_index_president_message_main {
    line-height: 2em;
    text-align: start;
    font-size: 14px;
    width: 85%;
    margin: 0 auto;
  }
  .home_container .home_index_president .home_index_president_message .home_index_president_message_end {
    text-align: end;
    font-size: 12px;
  }
  .home_container .home_index_activity {
    text-align: center;
    width: 100%;
    padding: 0 5%;
  }
  .home_container .home_index_activity .home_index_activity_title {
    font-size: 20px;
  }
  .home_container .home_index_activity .home_index_activity_contents {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
  .home_container .home_index_activity .home_index_activity_contents .home_index_activity_card {
    width: 45%;
    width: 100%;
    height: 200px;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px #ccc;
            box-shadow: 0 2px 5px #ccc;
    margin: 0px;
    margin-bottom: 10px;
  }
  .home_container .home_index_activity .home_index_activity_contents .home_index_activity_card .card-img {
    width: 100%;
    height: 90px;
    border-radius: 5px 5px 0 0;
  }
  .home_container .home_index_activity .home_index_activity_contents .home_index_activity_card .card-content {
    padding: 5px;
  }
  .home_container .home_index_activity .home_index_activity_contents .home_index_activity_card .card-content .card-title {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;
    color: #333;
    font-family: "游ゴシック体", YuGothic;
  }
  .home_container .home_index_activity .home_index_activity_contents .home_index_activity_card .card-content .card-text {
    color: #777;
    font-size: 12px;
    text-align: center;
    font-family: "游ゴシック体", YuGothic;
  }
  .home_container .home_index_activity .home_index_activity_contents .home_index_activity_card .card-link {
    text-align: center;
    border-top: 1px solid #eee;
    padding: 0px;
    height: auto;
  }
  .heading06 {
    position: relative;
    padding-top: 50px;
    font-size: 20px !important;
    text-align: center;
  }
  .heading06 span {
    position: relative;
    z-index: 2;
  }
  .heading06::before {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    content: attr(data-en);
    position: absolute;
    top: 10px !important;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    color: rgba(89, 182, 158, 0.2);
    font-size: 55px !important;
    font-style: italic;
  }
}
/*# sourceMappingURL=index.css.map */