@charset "UTF-8";
.field_with_errors {
  display: contents;
}

.registration-edit-user-content {
  letter-spacing: 2px;
}

.registration-edit-user-content .registration-edit-user-title {
  font-size: 32px;
  text-align: center;
}

.registration-edit-user-content .registration-edit-user-title span {
  font-size: 20px;
  display: block;
  color: #b6b8bf;
}

.registration-edit-user-content .registration-edit-user-fields {
  width: 45%;
  margin: 0 auto;
  padding: 0 20px;
  margin: 0 auto;
  background-color: #ffffff;
}

.registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field {
  border-radius: 10px;
  text-align: center;
}

.registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field .alert_danger {
  background-color: #fff1f1;
}

.registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field .registration-edit-user-field-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field .registration-edit-user-field-1 span {
  color: red;
  font-size: 16px;
}

.registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field .registration-edit-user-field-2 span > button#address_btn {
  width: 80px;
  height: 30px;
  text-align: center;
  background-color: #3414e6;
  border-radius: 5px;
  color: white;
}

.registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field input, .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field select {
  display: block;
  margin-top: 10px;
  padding-left: 10px;
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: 1px solid #979797;
  outline: none;
  text-align: left;
}

.registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field .registration-edit-user-field-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field .registration-edit-user-field-2 span {
  color: green;
  font-size: 16px;
}

.registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field-check .alert_danger {
  background-color: #fff1f1;
  text-align: center;
}

.registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field-check .registration-edit-user-field-check-1 span {
  color: red;
  font-size: 16px;
}

.registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field-check .registration-edit-user-field-check-2 {
  margin-top: 10px;
  word-break: break-all;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field-check .registration-edit-user-field-check-2 .registration-edit-user-field-check-3 {
  padding: 10px;
  padding-left: 20px;
}

.registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field-check .registration-edit-user-field-check-2 .registration-edit-user-field-check-3 .service_type_textfield {
  margin-top: 10px;
  padding-left: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #979797;
  outline: none;
  margin-left: 20px;
  display: none;
}

.registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field-check .registration-edit-user-field-check-2 .registration-edit-user-field-check-3 #service_typeその他:checked ~ .service_type_textfield {
  display: block;
}

.registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field-button input {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #666ad6;
  padding: 15px 50px;
  border-radius: 5px;
  color: white;
}

.registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field-button input:hover {
  opacity: 0.5;
  cursor: pointer;
}

.registration-edit-user-content .registration-edit-user-fields .address_field {
  margin-left: 50px;
}

.registration-edit-user-content a {
  color: black;
  display: block;
  text-align: center;
}

.registration-edit-user-content a:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .registration-edit-user-content .registration-edit-user-title {
    font-size: 24px;
  }
  .registration-edit-user-content .registration-edit-user-title span {
    font-size: 14px;
  }
  .registration-edit-user-content .registration-edit-user-fields {
    width: 90%;
    padding: 0px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field .registration-edit-user-field-1 {
    display: block;
    text-align: start;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field .registration-edit-user-field-1 span {
    font-size: 14px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field .registration-edit-user-field-1 label {
    font-size: 14px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field label, .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field input, .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field span {
    font-size: 14px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field .registration-edit-user-field-2 {
    text-align: start;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field .registration-edit-user-field-2 span > button#address_btn {
    width: 50px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field .registration-edit-user-field-2 label, .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field .registration-edit-user-field-2 span {
    font-size: 14px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field input, .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field select {
    font-size: 14px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field label {
    font-size: 14px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field-check .registration-edit-user-field-check-1 span {
    font-size: 14px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field-check .registration-edit-user-field-check-1 label {
    font-size: 14px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field-check .registration-edit-user-field-check-2 {
    height: 700px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field-check .registration-edit-user-field-check-2 .registration-edit-user-field-check-3 {
    padding-left: 10px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field-check .registration-edit-user-field-check-2 .registration-edit-user-field-check-3 label {
    font-size: 14px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field-check .registration-edit-user-field-check-2 .registration-edit-user-field-check-3 input {
    width: 12px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field-button input {
    padding: 10px 50px;
  }
}

@media screen and (max-width: 750px) {
  .registration-edit-user-content .registration-edit-user-title {
    font-size: 24px;
  }
  .registration-edit-user-content .registration-edit-user-title span {
    font-size: 14px;
  }
  .registration-edit-user-content .registration-edit-user-fields {
    width: 90%;
    padding: 0px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field .registration-edit-user-field-1 {
    display: block;
    text-align: start;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field .registration-edit-user-field-1 span {
    font-size: 14px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field .registration-edit-user-field-1 label {
    font-size: 14px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field label, .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field input, .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field span {
    font-size: 14px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field .registration-edit-user-field-2 {
    display: block;
    text-align: start;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field .registration-edit-user-field-2 span > button#address_btn {
    width: 50px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field .registration-edit-user-field-2 label, .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field .registration-edit-user-field-2 span {
    font-size: 14px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field input, .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field select {
    font-size: 14px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field label {
    font-size: 14px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field-check .registration-edit-user-field-check-1 span {
    font-size: 14px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field-check .registration-edit-user-field-check-1 label {
    font-size: 14px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field-check .registration-edit-user-field-check-2 {
    height: 700px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field-check .registration-edit-user-field-check-2 .registration-edit-user-field-check-3 {
    padding-left: 0px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field-check .registration-edit-user-field-check-2 .registration-edit-user-field-check-3 label {
    font-size: 12px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field-check .registration-edit-user-field-check-2 .registration-edit-user-field-check-3 input {
    width: 12px;
  }
  .registration-edit-user-content .registration-edit-user-fields .registration-edit-user-field-button input {
    padding: 10px 50px;
  }
}
/*# sourceMappingURL=user_edit.css.map */