$font-family: "游ゴシック体", YuGothic;
$title_size: 30px;
$title_size_sm: 20px;
$title_weight: normal;
$sub_size: 16px;
$sub_size_sm: 16px;
$sub_weight: 900;

.home_container {
  margin: 0px 150px;
  letter-spacing: 2px;
  font-family: $font-family;

  //   画像
  .home_index_img {
    text-align: center;
    img {
      width: 50vw;
    }
  }

  //   会社概要
  .home_index_about {
    font-family: $font_family;
    text-align: center;
    .home_index_about_title {
      font-size: $title_size;
      font-weight: $title_weight;
      border-left: none;
    }

    .home_index_about_contents {
      table {
        width: 70%;
        border-collapse: collapse;
        margin: 0 auto;
      }

      table tr {
        border-bottom: solid 2px white;
      }

      table tr:last-child {
        border-bottom: none;
      }

      table th {
        position: relative;
        text-align: left;
        width: 30%;
        background-color: #59b69e;
        color: white;
        text-align: center;
        padding: 10px 0;
      }

      table th:after {
        display: block;
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        top: calc(50% - 10px);
        right: -10px;
        border-left: 10px solid #59b69e;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
      }

      table td {
        text-align: left;
        width: 70%;
        text-align: center;
        background-color: #eee;
        padding: 10px 0;
      }
    }
  }
  // 経営陣略歴
  .home_index_biography {
    text-align: center;

    .home_index_biography_title {
      font-size: $title_size;
      font-weight: $title_weight;
      font-family: $font_family;
    }

    .home_index_biography_context {
      .home_index_biography_context_name {
        font-size: 28px;
        text-align: start;
        border-left: 5px solid #59b69e;
        padding-left: 20px;
        line-height: 100px;
      }
      .home_index_biography_context_detail {
        display: flex;
        .home_index_biography_img {
          width: 50%;
          img {
            width: 250px;
            height: 250px;
            border-radius: 100%;
          }
        }
        .home_index_biography_items {
          width: 50%;
          .home_index_biography_item {
            font-size: 14px;
            text-align: start;
            display: flex;
            text-align: end;
            padding: 15px 0px;
            border-bottom: 1px solid #ddd;

            span {
              display: block;
              font-weight: bold;
              width: 150px;
              text-align: start;
            }
            p {
              width: 100%;
              text-align: start;
            }
          }
          .home_index_biography_item:first-child {
            border-top: 1px solid #ddd;
          }
        }
      }
    }
  }

  // 社長あいさつ
  .home_index_president {
    text-align: center;
    margin: 0 auto;
    width: 70%;

    .home_index_president_title {
      font-size: $title_size;
      font-weight: $title_weight;
      font-family: $font_family;
    }
    .home_index_president_img {
      img {
        width: 100%;
        height: 450px;
      }
    }
    .home_index_president_message {
      .home_index_president_message_title {
        font-family: “HGP行書体”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
        font-size: 30px;
        padding-left: 20px;
        border-left: 5px solid #59b69e;
        line-height: 50px;
      }
      .home_index_president_message_main {
        line-height: 2em;
        text-align: start;
      }
      .home_index_president_message_end {
        text-align: end;
        font-size: $sub_size;
      }
    }
  }

  //   事業紹介
  .home_index_activity {
    text-align: center;
    .home_index_activity_title {
      font-size: $title_size;
      font-weight: $title_weight;
      font-family: $font_family;
    }
    .home_index_activity_contents {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .home_index_activity_card:hover {
        .card-img {
          transform: scale(1.2, 1.2);
          transition: 1s all;
        }
      }

      .home_index_activity_card {
        width: 350px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px #ccc;
        margin: 30px 10px;
        overflow: hidden; //これを記述することではみ出た部分を非表示にします。

        .card-img {
          width: 350px;
          height: 200px;
          border-radius: 5px 5px 0 0;
          transition: 1s all;
        }
        .card-content {
          padding: 20px;

          .card-title {
            font-size: 20px;
            margin-bottom: 20px;
            text-align: center;
            color: #333;
          }
          .card-text {
            color: #777;
            font-size: 14px;
            line-height: 1.5;
            text-align: center;
          }
        }
        .card-link {
          text-align: center;
          border-top: 1px solid #eee;
          padding: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .home_container {
    margin: 0px 5px;
    margin-top: 50px;

    //   画像
    .home_index_img {
      img {
        width: 80vw;
      }
    }

    //   会社概要
    .home_index_about {
      font-family: $font_family;
      text-align: center;
      .home_index_about_title {
        font-size: $title_size_sm;
      }

      .home_index_about_contents {
        table {
          width: 100%;
          border-collapse: collapse;
          margin: 0 auto;
          font-size: 14px;
        }

        table tr {
          border-bottom: solid 2px white;
        }

        table tr:last-child {
          border-bottom: none;
        }

        table th {
          position: relative;
          text-align: left;
          width: 30%;
          background-color: #59b69e;
          color: white;
          text-align: center;
          padding: 10px 0;
        }

        table th:after {
          display: block;
          content: "";
          width: 0px;
          height: 0px;
          position: absolute;
          top: calc(50% - 10px);
          right: -10px;
          border-left: 10px solid #59b69e;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
        }

        table td {
          text-align: left;
          width: 70%;
          text-align: center;
          background-color: #eee;
          padding: 10px 0;
        }
      }
    }
    // 経営陣略歴
    .home_index_biography {
      text-align: center;

      .home_index_biography_title {
        font-size: $title_size_sm;
      }

      .home_index_biography_context {
        .home_index_biography_context_name {
          font-size: $title_size_sm;
          border-left: 5px solid #59b69e;
          text-align: start;
          padding-left: 10px;
          line-height: 50px;
        }
        .home_index_biography_context_detail {
          display: flex;
          flex-direction: column;
          align-items: center;
          .home_index_biography_img {
            width: 90%;
            img {
              width: 250px;
              height: 250px;
              border-radius: 100%;
            }
          }
          .home_index_biography_items {
            margin-top: 10px;
            width: 90%;
            .home_index_biography_item {
              font-size: 14px;
              text-align: start;
              display: flex;
              text-align: end;
              padding: 15px 0px;
              border-bottom: 1px solid #ddd;

              span {
                display: block;
                font-weight: bold;
                width: 150px;
                text-align: start;
              }
              p {
                width: 100%;
                text-align: start;
              }
            }
            .home_index_biography_item:first-child {
              border-top: 1px solid #ddd;
            }
          }
        }
      }
    }

    // 社長あいさつ
    .home_index_president {
      text-align: center;
      margin: 0 auto;
      width: 90%;

      .home_index_president_title {
        font-size: $title_size_sm;
      }
      .home_index_president_img {
        img {
          height: 200px;
        }
      }
      .home_index_president_message {
        .home_index_president_message_title {
          font-family: “HGP行書体”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
          font-size: 12px;
          padding-left: 0px;
          border-left: 5px solid #59b69e;
          line-height: 36px;
        }
        .home_index_president_message_main {
          line-height: 2em;
          text-align: start;
          font-size: 14px;
        }
        .home_index_president_message_end {
          text-align: end;
          font-size: $sub_size;
        }
      }
    }
    //   事業紹介
    .home_index_activity {
      text-align: center;
      .home_index_activity_title {
        font-size: $title_size_sm;
        font-weight: $title_weight;
        font-family: $font_family;
      }
      .home_index_activity_contents {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        a {
          width: 50%;
          .home_index_activity_card {
            width: 135px;
            height: 200px;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px #ccc;
            margin: 10px;

            .card-img {
              width: 135px;
              height: 90px;
              border-radius: 5px 5px 0 0;
            }
            .card-content {
              padding: 5px;

              .card-title {
                font-size: 14px;
                margin-bottom: 5px;
                text-align: center;
                color: #333;
                font-family: $font_family;
              }
              .card-text {
                color: #777;
                font-size: 12px;
                text-align: center;
                font-family: $font_family;
              }
            }
            .card-link {
              text-align: center;
              border-top: 1px solid #eee;
              padding: 0px;
              height: auto;
            }
          }
        }
      }
    }
  }
}
