@import "../font";

.home_sdgs_container {
  padding: 150px 300px 50px;
  font-family: "游ゴシック体", YuGothic;
  letter-spacing: 2px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template:
    " title       title      title     "
    " ..........  .......... .........." 100px
    " img         .......... philosophy "
    " ..........  .......... .........." 100px
    " about       about      about     "
    " ..........  .......... .........." 100px
    " certified   certified  certified "
    " ..........  .......... .........." 100px
    " actions     actions    actions   "
    / auto 20px auto;

  // タイトル
  .home_sdgs_title {
    grid-area: title;
    text-align: center;
    font-size: $pc_main;
    color: #59b69e;
  }
  //   SDGsのロゴ
  .home_sdgs_img {
    grid-area: img;
  }
  //   SDGsの理念紹介
  .home_sdgs_philosophy {
    grid-area: philosophy;
    font-size: $pc_subsub;
  }
  //   SDGsについて説明
  .home_sdgs_about {
    grid-area: about;
    font-size: $pc_subsub;
    p:nth-child(1) {
      font-size: $pc_sub;
      padding-left: 10px;
      border-left: 5px solid #59b69e;
    }
  }
  //   SDGsの理念
  .home_sdgs_certified {
    grid-area: certified;
    font-size: $pc_subsub;
    p:nth-child(1) {
      font-size: $pc_sub;
      padding-left: 10px;
      border-left: 5px solid #59b69e;
    }
    img {
      width: 50%;
      display: block;
      margin: 0 auto;
    }
  }
  //   具体的なアクション
  .home_sdgs_actions {
    grid-area: actions;
    p:nth-child(1) {
      font-size: $pc_sub;
      padding-left: 10px;
      border-left: 5px solid #59b69e;
    }
    .home_sdgs_action {
      display: grid;
      grid-template:
        " action_title    action_title    ............... ............... "
        " ............... ............... ............... ............... " 20px
        " ............... action_img      ............... ............... "
        " ............... ............... ............... ............... " 20px
        " action_describe action_describe action_describe action_describe "
        " ............... ............... ............... ............... " 100px
        / 50px auto 10px 1fr;

      .home_sdgs_action_title {
        grid-area: action_title;
        p {
          border: none;
          color: #59b69e;
        }
      }
      .home_sdgs_action_describe {
        grid-area: action_describe;
        p {
          border: none;
          font-size: $pc_subsub;
        }
      }
      .home_sdgs_action_img {
        grid-area: action_img;
        img {
          width: 100px;
          margin: 0 auto;
        }
      }
    }
  }
}
