<p><%= @resource.email %>様</p>

<p>こちらは、むすびのパスワード再発行メールです。</p>
<p>下記のリンク先から、パスワードの再発行をお願いします。</p>

<p>
  <%= link_to 'パスワードの再発行はこちら', edit_company_password_url(@resource, reset_password_token: @token) %>
</p>

<p>
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
</p>
<p>
  本メールは、むすびにて会員登録をされた方にお送りしています。
</p>
<p>
  お心当たりが無い場合は、お手数ですが musubi.0316@gmail.com までご連絡ください。
</p>
<p>
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
</p>