@import "../font";

.home_commition_container {
  margin: 0px 150px;
  margin: 0 auto;
  padding: 50px 0px;
  letter-spacing: 2px;
  font-family: "游ゴシック体", YuGothic;
  text-align: center;
  width: 80%;
  background-color: white;
  border-radius: 8px;

  .home_commition_title h2 {
    font-size: $pc_main;
  }
  .home_commition_point {
    font-size: 5rem;
    font-weight: bold;
    color: #ffa41c;
  }
  .home_commition_items {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 1);
  }
  .home_commition_search {
    .home_commition_search_form {
      select#search_year {
        -moz-appearance: menulist;
        -webkit-appearance: menulist;
        appearance: menulist;
        border: 2px solid #cccccc;
        border-radius: 5px;
        padding: 10px;
        margin-right: 15px;
      }
      select#search_year:hover {
        cursor: pointer;
      }
      select#search_month {
        -moz-appearance: menulist;
        -webkit-appearance: menulist;
        appearance: menulist;
        padding: 10px;
        border: 2px solid #cccccc;
        border-radius: 5px;
        margin-right: 15px;
        margin-left: 8px;
      }
      select#search_month:hover {
        cursor: pointer;
      }
    }
  }

  .home_commition_search_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    .home_commition_search_search_btn {
      margin-right: 10px;
      input {
        display: block;
        padding: 10px 20px;
        background-color: #59b69e;
        border-radius: 8px;
        color: white;
        box-shadow: 5px 5px 0px 0 rgba(213, 217, 217, 0.5);
      }
      input:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }
    .home_commition_search_reset_btn {
      margin-left: 10px;
      a {
        display: block;
        padding: 10px 20px;
        background-color: #78797a;
        border-radius: 8px;
        color: white;
        box-shadow: 5px 5px 0px 0 rgba(213, 217, 217, 0.5);
      }
      a:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }

    // 背景に文字入れ
    .heading06 {
      position: relative;
      padding-top: 50px;
      font-size: 26px;
      text-align: center;
    }

    .heading06 span {
      position: relative;
      z-index: 2;
    }

    .heading06::before {
      content: attr(data-en);
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      color: rgba(89, 182, 158, 0.2);
      font-size: 80px;
      font-style: italic;
    }
  }
}

@media screen and (max-width: 1024px) {
  .home_commition_container {
    margin: 0px 150px;
    margin: 0 auto;
    padding: 50px 0px;
    letter-spacing: 2px;
    font-family: "游ゴシック体", YuGothic;
    text-align: center;
    width: 90%;
    background-color: white;
    border-radius: 8px;

    .home_commition_title {
      font-size: $pc_sub;
    }
    .home_commition_point {
      font-size: 5rem;
      font-weight: bold;
      color: #ffa41c;
    }
    .home_commition_items {
      margin: 0 auto;
      width: 90%;
      margin-bottom: 20px;
      padding: 10px;
      box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 1);
    }
  }
}

@media screen and (max-width: 750px) {
  .home_commition_container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0px;
    letter-spacing: 2px;
    text-align: center;
    background-color: white;
    border-radius: 8px;

    .home_commition_title h2 {
      font-size: $sm_main;
    }

    .home_commition_items {
      margin: 0 auto;
      width: 90%;
      margin-bottom: 20px;
      padding: 10px;
      box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 1);
      font-size: $sm_subsub;
    }
  }
  // 背景に文字入れ
  .heading06 {
    position: relative;
    padding-top: 50px;
    font-size: 26px;
    text-align: center;
  }

  .heading06 span {
    position: relative;
    z-index: 2;
  }

  .heading06::before {
    content: attr(data-en);
    position: absolute;
    top: 10px !important;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(89, 182, 158, 0.2);
    font-size: 55px !important;
    font-style: italic;
  }

  .home_commition_point p {
    font-size: 2rem;
  }
  .home_commition_items {
    font-size: $sm_subsub;
  }
}
