@charset "UTF-8";
.home_commition_container {
  margin: 0px 150px;
  margin: 0 auto;
  padding: 50px 0px;
  letter-spacing: 2px;
  font-family: "游ゴシック体", YuGothic;
  text-align: center;
  width: 80%;
  background-color: white;
  border-radius: 8px;
}

.home_commition_container .home_commition_title h2 {
  font-size: 32px;
}

.home_commition_container .home_commition_point {
  font-size: 5rem;
  font-weight: bold;
  color: #ffa41c;
}

.home_commition_container .home_commition_items {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 20px;
  padding: 10px;
  -webkit-box-shadow: 0 2px 5px 0 #d5d9d9;
          box-shadow: 0 2px 5px 0 #d5d9d9;
}

.home_commition_container .heading06 {
  position: relative;
  padding-top: 50px;
  font-size: 26px;
  text-align: center;
}

.home_commition_container .heading06 span {
  position: relative;
  z-index: 2;
}

.home_commition_container .heading06::before {
  content: attr(data-en);
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: rgba(89, 182, 158, 0.2);
  font-size: 80px;
  font-style: italic;
}

@media screen and (max-width: 1024px) {
  .home_commition_container {
    margin: 0px 150px;
    margin: 0 auto;
    padding: 50px 0px;
    letter-spacing: 2px;
    font-family: "游ゴシック体", YuGothic;
    text-align: center;
    width: 90%;
    background-color: white;
    border-radius: 8px;
  }
  .home_commition_container .home_commition_title {
    font-size: 24px;
  }
  .home_commition_container .home_commition_point {
    font-size: 5rem;
    font-weight: bold;
    color: #ffa41c;
  }
  .home_commition_container .home_commition_items {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 20px;
    padding: 10px;
    -webkit-box-shadow: 0 2px 5px 0 #d5d9d9;
            box-shadow: 0 2px 5px 0 #d5d9d9;
  }
}

@media screen and (max-width: 750px) {
  .home_commition_container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0px;
    letter-spacing: 2px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
  }
  .home_commition_container .home_commition_title h2 {
    font-size: 20px;
  }
  .home_commition_container .home_commition_point {
    font-size: 3rem;
    font-weight: bold;
    color: #ffa41c;
  }
  .home_commition_container .home_commition_items {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 20px;
    padding: 10px;
    -webkit-box-shadow: 0 2px 5px 0 #d5d9d9;
            box-shadow: 0 2px 5px 0 #d5d9d9;
  }
  .heading06 {
    position: relative;
    padding-top: 50px;
    font-size: 26px;
    text-align: center;
  }
  .heading06 span {
    position: relative;
    z-index: 2;
  }
  .heading06::before {
    content: attr(data-en);
    position: absolute;
    top: 10px !important;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    color: rgba(89, 182, 158, 0.2);
    font-size: 55px !important;
    font-style: italic;
  }
}
/*# sourceMappingURL=point_index.css.map */