@import "../font";

.home_point_container {
  margin: 0px 150px;
  margin: 0 auto;
  padding: 50px 0px;
  letter-spacing: 2px;
  font-family: "游ゴシック体", YuGothic;
  text-align: center;
  width: 80%;
  background-color: white;
  border-radius: 8px;

  .home_point_title {
    font-size: $pc_sub;
  }
  .home_point_items {
    .home_point_item {
      display: flex;
      padding: 10px 0px;
      justify-content: center;
      border-bottom: 1px solid #ddd;
      width: 50%;
      margin: 0 auto;

      p:nth-child(1) {
        width: 100px;
      }
      p:nth-child(2) {
        width: 100px;
      }
    }
    .home_point_item:nth-child(1) {
      border-top: 1px solid #ddd;
    }
  }
}

@media screen and (max-width: 750px) {
  .home_point_container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0px;
    letter-spacing: 2px;
    font-family: "游ゴシック体", YuGothic;
    text-align: center;
    background-color: white;
    border-radius: 8px;

    .home_point_title {
      font-size: $sm_sub;
    }

    .home_point_items {
      font-size: 14px;
      .home_point_item {
        display: flex;
        padding: 10px 0px;
        justify-content: center;
        border-bottom: 1px solid #ddd;
        width: 90%;
        margin: 0 auto;

        p:nth-child(1) {
          width: 100px;
        }
        p:nth-child(2) {
          width: 100px;
        }
      }
      .home_point_item:nth-child(1) {
        border-top: 1px solid #ddd;
      }
    }
    .home_point_annotation {
      font-size: $sm_subsub;
      padding: 5px;
    }
  }
}
