<%= render partial: 'shared/header' %>

<nav class="home_terms_container">

    <div class="home_terms_title">
        <p>クレジットカード登録に関する規約・プライバシーポリシー</p>
    </div>

    <div class="module-spacer--medium"></div>

    <div class="home_terms_sub_title">
        <p>株式会社むすび（以下当社）は、ECサイト運営にあたり、お客様の個人情報をお預かりすることがあります。当社は、サイト運営において個人情報を保護し、お客様に更なるサービスをご提供できるように努め、個人情報の適切な取り扱いを実現致します。</p>
    </div>

    <div class="module-spacer--medium"></div>

     <div class="home_terms_item">
        <p>１. 個人情報の取得について</br>当社は、適法かつ公正な手段によって、個人情報を取得いたします。</p>
    </div>
    <div class="home_terms_item">
        <p>
            ２. 個人情報の利用目的</br>
            ご提供いただいた個人情報は、当社が以下の目的で利用するものとします。</br>
            ・注文いただいた商品等の注文から代金回収までの一連の業務</br>
            ・メールマガジン配信及び広告の表示</br>
            ・その他弊社サイトを通じたサービスの提供</br>
            ・提供するサービスの維持向上</br>
        </p>
    </div>
    <div class="home_terms_item">
        <p>
            ３．3.個人情報の共有について</br>
            お客様へのサービスを提供するにあたり必要となる場合、その一部もしくは全部を、下記に記載する業務において提携企業あるいは委託企業へ提供する場合があります。</br></br>
            業務提携企業</br>
            当社が業務提携企業と注文を受けた商品の納期等を確認する場合、あるいは業務提携企業から直接お客様へ商品を発送する場合、当社は業務提携企業と個人情報を共有します。</br></br>
            クレジットカード会社および決済システム提供会社</br>
            弊社は、商品代金のご請求にあたって、決済を代行するクレジットカード会社とご注文に関する個人情報を共有します。</br></br>
            配送業務委託会社</br>
            当社は、商品の発送について配達業者へ業務委託しており、代金引換決済の業務を委託しています。これらの会社には、配送および料金請求のために個人情報を共有します。</br></br>
        </p>
    </div>
    <div class="home_terms_item">
        <p>
            ４. 個人情報の第三者への開示</br>
            当社は、原則としてご提供いただいた個人情報を第三者に開示することはいたしません。ただし、以下のような場合、個人の情報を開示できるものとします。</br></br>
            ユーザーの同意が得られた場合</br>
            国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、利用者本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれのある場合</br>
            その他の法令により弊社による開示又は提供義務が定められている場合</br>
            ユーザーの注文情報を業務提携企業に転送する場合</br>
            商品等の発送またはサービスの提供のために必要な場合</br>
            代金の決済に関する事業者に開示する等代金の回収のために必要な場合</br>
            弊社の権利を守るために必要な場合</br>
            サービス向上のため、当社が行う業務の全部または一部を第三者に委託する場合</br>
            合併、営業譲渡その他の事由による事業の承継の際に、事業を承継する者に対して開示する場合</br>
            その他正当な事由がある場合</br>
        </p>
    </div>
    <div class="home_terms_item">
        <p>
            ５． 統計データの利用</br>
            当社は、ご提供いただいた個人情報をもとに、個人を特定できない形式による統計データを作成し、当該データにつき何らかの利用をすることができるものとします。</br>
        </p>
    </div>
    <div class="home_terms_item">
        <p>
            ６． 個人情報の訂正・削除方法</br>
            お客様がご提供いただいた個人情報の開示、訂正、削除を希望される場合は、こちらまでご請求ください。個人情報保護法に準拠して、対応させていただきます。</br>
        </p>
    </div>
    <div class="home_terms_item">
        <p>
            ７． プライバシー・ポリシーの変更および通知について</br>
            当社は、この「プライバシー・ポリシー」の内容を、事前に予告なく変更することがあります。利用者の方へその都度ご連絡はいたしかねますので、ご利用の際には本ページの最新の内容をご参照ください。</br>
        </p>
    </div>
    <div class="home_terms_item">
        <p>
            ８． 個人情報の管理責任者</br>
            当社は、ご提供いただいた個人情報をもとに、個人を特定できない形式による統計データを作成し、当該データにつき何らかの利用をすることができるものとします。ご提供いただいた個人情報は、当社において責任を持って管理するものとします。</br>
        </p>
    </div>
    <div class="home_terms_item">
        <p>
            ９. 個人情報に関するお問い合わせ</br>
            ご提供いただいた個人情報の取扱いに関するご要望・お問い合わせは、こちらまでお願いいたします。</br>
            Mail： musubi.0316@gmail.com</br>
        </p>
    </div>
    <div class="home_terms_item">
        <p>
            １０． 個人情報管理規程の策定・実施・維持・改善</br>
            当社は、ご提供いただいた個人情報をもとに、個人を特定できない形式による統計データを作成し、当該データにつき何らかの利用をすることができるものとします。当社は、この方針を実施するため、個人情報管理規定を策定し、これを当社従業者その他関係者に周知徹底させて実施し、維持し、継続的に改善致します。</br>
        </p>
    </div>
    <div class="home_terms_item">
        <p>
            規約①</br>
            クレジットカードの名義人は、お申込人本人に限ります。また、むすび株式会社（以下、当社という）が 提携するクレジットカードのみご利用いただけます。</br>
        </p>
    </div>
    <div class="home_terms_item">
        <p>
            規約②</br>
            当社がお申込人に請求する月々の利用料金等について、お客さまは支払い義務があることを承諾し、登録クレジット カードを発行するクレジットカード会社（以下「クレジット会社」といいます）が定める規定に基づきお支払いいただ きます。</br>
        </p>
    </div>
    <div class="home_terms_item">
        <p>
            規約③</br>
            クレジットカード支払いに必要となる個人情報を当社からクレジット会社に通知することをご承諾いただきます。</br>
        </p>
    </div>
    <div class="home_terms_item">
        <p>
            規約④</br>
            クレジット会社からのクレジットカード利用明細の送付時期・口座引落日は、お申込人のご指定のクレジット会社により異なります。</br>
        </p>
    </div>
    <div class="home_terms_item">
        <p>
            規約⑤</br>
            登録クレジットカードの会員番号や有効期限が変更となった場合、お申込人に事前にお知らせすることなく、新しい会員番号や有効期限がクレジット会社より当社に通知される場合がありますので、あらかじめご了承ください。</br>
        </p>
    </div>
    <div class="home_terms_item">
        <p>
            規約⑥</br>
            お申込人が次のいずれかに該当する場合は、当社から直接ご請求させていただき、当社の指定する方法でお支払いい ただきます。</br>
            （１）クレジット会社の規定により利用料金等について登録クレジットカードでのお支払いが承認されない場合</br>
            （２）クレジット会社の規定により登録クレジットカードの会員資格を喪失されている場合</br>
            （３）クレジット会社により会員番号の変更、有効期限の更新が行われ、その更新内容を当社が確認する必要がある 際に、一定期間お申込人とご連絡が取れない場合 </br>
        </p>
    </div>
    <div class="home_terms_item">
        <p>
            規約⑦</br>
            お申込人が当社に対して、登録クレジットカードを変更する旨の申し出を行わない限り、利用料金等を継続して、登録クレジットカードにより決済を行います。</br>
        </p>
    </div>
    <div class="home_terms_item">
        <p>
            規約⑧</br>
            クレジット会社より登録クレジットカードが更新された場合であっても、更新後のカードの会員番号に変更がない限り、更新後のカードを登録クレジットカードとして利用料金等の決済を行います。</br>
        </p>
    </div>
    <div class="home_terms_item">
        <p>
            規約⑨</br>
            クレジット会社より登録クレジットカードが再発行される場合であって、かつ再発行後のクレジットカードの会員番号が変更となる場合には、当社とクレジット会社との間で再発行後のクレジットカードについて有効性が確認できた後、当該再発行後のクレジットカードを登録クレジットカードとして利用料金等の決済を行います。</br>
        </p>
    </div>
    <div class="home_terms_item">
        <p>
            規約⑩</br>
            クレジット会社より、登録クレジットカードによる利用料金等の決済を解除されても異議を述べないものとします。</br>
        </p>
    </div>
    <div class="home_terms_item">
        <p>
            規約⑪</br>
            銀行振込みの場合、振込手数料はお客様負担となります。また、金額不足による再入金や在庫切れの場合の返金等の際の振込手数料はお客様負担となります。</br>
        </p>
    </div>
    <div class="home_terms_item">
        <p>
            規約⑫</br>
            商品の送料については、１商品購入につき、下記の送料をご負担いただきます。また記載送料の内、¥100を本サービスの一部を担っている障害系の就労福祉サービスの方々へ振り込まれます。</br>
            北海道：¥2,840
            北東北地方（青森、秋田、岩手）：¥2,400
            南東北地方（宮城、山形、福島）：¥2,290
            関東地方：¥2,180
            信越地方：¥2,180
            北陸地方：¥2,070
            中部地方：¥2,070
            関西地方：¥2,070
            中国地方：¥2,070
            四国地方：¥2,070
            九州地方：¥2,180
            沖縄：¥4,160
        </p>
    </div>
    <div class="home_terms_item">
        <p>
            規約⑬</br>
            万一、不良品等がございましたら、商品到着後7日以内にお電話でご連絡下さい。送料は当社負担で、良品と交換させていただきます。期限を過ぎますと、交換のご要望はお受けできなくなりますので、ご了承下さい。</br>
        </p>
    </div>

    <div class="module-spacer--medium"></div>
    
    <div class="home_terms_title">
        <p>戻る際はブラウザのタブを閉じて下さい</p>
    </div>

</nav>

<%= render partial: 'shared/footer' %>