<%##レスポンス（PC）%>
<nav class="header">
  <div class="header_logo">
    <a href="/">MUSUBI</a>
  </div>

  <div class="header_menus">
    <div class="header_menu">
        <a href="/">ホーム</a>
    </div>

    <div class="header_menu">
        <a href="/">むすびについて</a>
    </div>

    <div class="header_menu">
        <a href="/">サービス</a>
    </div>

    <div class="header_menu">
        <a href="/">代理店契約</a>
    </div>

    <div class="header_menu">
        <a href="/">
          <i class="far fa-envelope"></i>
          お問い合わせ
        </a>
    </div>

  </div>

</nav>

<%##レスポンス（スマホ）%>
<div class="hamburger">
  <span></span>
  <span></span>
  <span></span>
</div>

<nav class="header_sm">
  <div class="header_logo">
    <a href="/">MUSUBI</a>
  </div>
</nav>

<nav class="globalMenuSp">
    <ul>
        <li><i class="fas fa-building"></i><a href="#">むすびについて</a></li>
        <li><i class="fas fa-gift"></i><a href="#">サービス</a></li>
        <li><i class="far fa-id-card"></i><a href="#">代理店契約</a></li>
        <li><i class="fas fa-headset"></i><a href="#">お問い合わせ</a></li>
    </ul>
</nav>


<%= javascript_pack_tag "shared/header" %>