<%= render partial: 'shared/product_header' %>

<div class="module-spacer--large"></div>
<div class="module-spacer--small"></div>

<nav class="order_purchase_content">
    
    <div class="order_purchase_title">
        <p>ご購入が完了しました</p>
    </div>

    <div class="module-spacer--small"></div>

    <div class="order_purchase_sub">
        <p>ご登録のメールアドレスに購入内容のメールを送信致しました</p>
    </div>
    
    <div class="module-spacer--medium"></div>

    <div class="order_purchase_number">
        <p>注文番号</p>

        <div class="module-spacer--medium"></div>

        <p><%= @display_number %></p>
    </div>

    <div class="module-spacer--large"></div>

    <div class="order_purchase_line_title">
        <p>むすび公式LINEの<br class="sm_br">登録もお願いします！</p>
    </div>

    <div class="module-spacer--small"></div>

    <div class="order_purchase_line_sub">
        <p>商品の紹介動画・購入商品の履歴等も確認できます</p>
    </div>

    <div class="module-spacer--medium"></div>

    <a href="https://lin.ee/idR0GsA" class="line_account"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加"></a>

    <div class="module-spacer--large"></div>

    <div class="order_purchase_back">
      <%= link_to "トップ画面に戻る", root_path %>
    </div>

</nav>

<div class="module-spacer--large"></div>

<%= render partial: 'shared/footer' %>