<%= render partial: 'shared/company_header' %>

<div class="company_explain_content">
    <%= image_tag "explain_agency_1.png", alt: "代理店契約の説明", class: "explain_agency_img" %>
    <div class="module-spacer--medium"></div>
    <%= image_tag "explain_agency_2.png", alt: "代理店契約の説明", class: "explain_agency_img" %>
    <div class="module-spacer--medium"></div>
    <%= image_tag "explain_agency_3.png", alt: "代理店契約の説明", class: "explain_agency_img" %>
</div>