<%= render partial: 'shared/company_header' %>

<div class="company_show_content">
    <%= image_tag "explain_agency_1.png", alt: "代理店契約の説明", class: "explain_agency_img" %>
    <%= image_tag "explain_agency_2.png", alt: "代理店契約の説明", class: "explain_agency_img" %>
</div>