<% content_for(:html_title) { "販売代理店登録に関する規約・プライバシーポリシーへの同意" } %>

<%= render partial: 'shared/header' %>

<nav class="home_terms_container">

    <div class="home_terms_title">
        <p>販売代理店登録に関する規約・プライバシーポリシーへの同意</p>
    </div>

    <div class="module-spacer--medium"></div>

    <div class="home_terms_sub_title">
        <p>株式会社むすび（以下「当社」という）が販売する製品（以下「本製品」という）の販売代理店登録（以下「本登録」という）にあたっては、下記記載事項（以下「本規約」という）をご確認頂き、本登録に際し、保護措置を講じた上で当社が個人情報を取得・保有・利用することにご同意頂ける場合のみ、「同意」をクリックして下さい。</p>
    </div>

    <div class="module-spacer--medium"></div>

     <div class="home_terms_item">
        <p>１．本登録をしたものを会員と呼びます。会員は、当社より本製品を買い取り、これを他に販売すること（以下「再販」いう）を原則とします。会員は当社の指定する希望価格を尊重しつつ、適正価格にて販売するものとします。</p>
    </div>
    <div class="home_terms_item">
        <p>２．会員は本登録手数料として、金１，０００円（別途、消費税及び地方消費税相当額）を当社に支払い、本製品を金３０，０００円以上（消費税及び地方消費税相当額及び送料を除く）購入することにより、販売代理店として登録されるものとします。</p>
    </div>
    <div class="home_terms_item">
        <p>３．本登録にあたり、本製品の購入後のキャンセル、返品または返金はできないものとします。</p>
    </div>
    <div class="home_terms_item">
        <p>４．会員が本登録手数料及び本製品代金の支払いを遅滞した場合、会員は年14.6%の割合による遅延損害金を当社に支払うものとします。</p>
    </div>
    <div class="home_terms_item">
        <p>５．再販手数料は、手数料表記載のとおりとします。なお、本登録時に購入した本製品の再販手数料はございません。</p>
    </div>
    <div class="home_terms_item">
        <p>６．再販手数料は毎月月末締め、翌月末日に会員の指定する金融機関に、当社から振り込みにより支払われます。会員は事前に、ご本人名義の金融機関口座を登録して下さい。ご本人名義以外の口座登録は出来ません。</p>
    </div>
    <div class="home_terms_item">
        <p>７．再販によりトラブルが発生した場合、会員又は第三者に損害が生じた場合であっても、本製品の瑕疵に起因する場合を除き、本登録が会員の自己責任のもとにされるものであることに鑑み、当社は、損害賠償その他一切の責任を負担致しません。</p>
    </div>
    <div class="home_terms_item">
        <p>８．万一、不良品等がございましたら、商品到着後７日以内にお電話でご連絡下さい。送料は当社負担で、良品と交換させていただきます。期限を過ぎますと、交換のご要望はお受けできなくなりますので、ご了承下さい。</p>
    </div>
    <div class="home_terms_item">
        <p>９．本同事項の準拠法は日本法とし、本登録に関する一切の紛争について訴訟の必要が生じた場合、大阪地方裁判所を第一審の専属的合意管轄裁判所とします。</p>
    </div>
    <div class="home_terms_item">
        <p>１０．当社が必要と認める場合、当社は会員の事前の了承を得ることなく、本規約を変更することがあります。この場合、本登録に関する一切の事項は、変更後の規約によるものとします。変更された本規約は、会員サイトへの掲示又は当社が適当と判断する方法により公表若しくは通知することにより効力を生じるものとし、掲示等と同時に、会員は当該変更後の本規約を承諾したものとみなします。</p>
    </div>
    <div class="home_terms_item">
        <p>１１．当社では、お預かりした個人情報について、適正かつ安全に管理・運用することに努め、以下のとおりプライバシーポリシーを定めます。</p>
    </div>
    <div class="home_terms_item">
        <p>●利用目的
        <br>当社は、収集した個人情報について、以下の目的のために利用いたします。
        <br>①商品発送やサービス実施及びアフターサービスのため
        <br>②資料請求に対する発送のため
        <br>③相談・お問い合わせへの回答のため
        <br>④商品・サービス等の案内のため</p>
    </div>
    <div class="home_terms_item">
        <p>●個人情報の委託
        <br>当社は、個人情報の利用目的達成に必要な範囲内で、個人情報取扱い業務の一部または全部を委託することがあります。 なお、委託先における個人情報の取扱いが適切に行なわれるよう、個人情報の保護を義務付け、当社が適切な監督の下厳重な管理を実施します。</p>
    </div>
    <div class="home_terms_item">
        <p>●第三者提供当社は、以下の場合を除いて、ご本人の同意なく第三者に個人データを提供することは致しません。
        <br>①法令に基づく場合
        <br>②人の生命・身体・財産を保護するために必要で、本人から同意を得ることが難しい場合
        <br>③公衆衛生の向上・児童の健全な育成のために必要で、本人から同意を得ることが難しい場合
        <br>④国の機関や地方公共団体、その委託者などによる法令事務の遂行にあたって協力する必要があり、かつ本人の同意を得ることで事務遂行に影響が生じる可能性がある場合</p>
    </div>
    <div class="home_terms_item">
        <p>●開示請求
        <br>会員の個人情報について、ご本人には、開示・訂正・削除・利用停止を請求する権利があります。手続きにあたっては、ご本人確認のうえ対応させていただきます。詳細につきましては下記の窓口までご連絡下さい。</p>
    </div>
    <div class="home_terms_info">
        <p>個人情報相談窓口
        <br>株式会社むすび
        <br>TEL：072-814-9830（090-4360-9483
        <br>E-mail： musubi.0316@gmail.com
        <br><br>
        ＜個人情報に関する責任者＞
        <br>個人情報保護管理者　永尾</p>
    </div>

    <div class="module-spacer--medium"></div>
    
    <div class="home_terms_title">
        <p>戻る際はブラウザのタブを閉じて下さい</p>
    </div>

</nav>

<%= render partial: 'shared/footer' %>