<% content_for(:html_title) { "申請が完了しました" } %>

<%= render partial: 'shared/product_header' %>

<div class="module-spacer--large"></div>
<div class="module-spacer--small"></div>

<nav class="order_purchase_content">
    
    <div class="order_purchase_title">
        <p>申請が完了しました</p>
    </div>
    
    <div class="module-spacer--medium"></div>

    <div class="order_purchase_sub">
        <p>ご案内のメールを送信致しましたので、ご確認下さい</p>
    </div>

    <div class="module-spacer--large"></div>

    <div class="order_purchase_back">
      <%= link_to "代理店管理画面へ", company_path(current_company), class: "order_purchase_back_yellow" %>
    </div>

</nav>

<div class="module-spacer--large"></div>

<%= render partial: 'shared/footer' %>