<%= render partial: 'shared/product_header' %>

<div class="module-spacer--large"></div>
<div class="module-spacer--small"></div>

<nav class="order_purchase_content">
    
    <div class="order_purchase_title">
        <p>申請が完了しました</p>
    </div>
    
    <div class="module-spacer--medium"></div>

    <div class="order_purchase_sub">
        <p>ご案内のメールを送信致しましたので、ご確認下さい</p>
    </div>

    <div class="module-spacer--large"></div>

    <div class="order_purchase_back">
      <%= link_to "招待画面へ", invitation_homes_path, class: "order_purchase_back_yellow" %>
    </div>

</nav>

<div class="module-spacer--large"></div>

<%= render partial: 'shared/footer' %>