$pc_main: 32px;
$pc_sub: 24px;
$pc_subsub: 16px;

$tb_main: 26px;
$tb_sub: 19px;
$tb_subsub: 14px;

$sm_main: 20px;
$sm_sub: 14px;
$sm_subsub: 12px;

$font_family: "游ゴシック体", YuGothic;
$letter_spacing: 2px;
