<%= render partial: 'shared/header' %>
 
<nav class="product_introduction_show_container">

    <%= image_tag "electrolytic_hydrogen_water_1.png", alt: "代理店契約の説明", class: "product_introduction_show_img" %>

    <div class="module-spacer--medium"></div>

    <%= image_tag "electrolytic_hydrogen_water_2.png", alt: "代理店契約の説明", class: "product_introduction_show_img" %>

</nav>

<%= render partial: 'shared/footer' %>