<% content_for(:html_title) { "商品説明（銀イオン水）" } %>

<%= render partial: 'shared/header' %>
 
<nav class="product_introduction_show_container">
    <picture>
        <source srcset="<%= image_path("silver_ion_water.webp") %>" type="image/webp">
        <%= image_tag "silver_ion_water.png", alt: "商品の説明資料", class: "product_introduction_show_img" %>
    </picture>
</nav>

<%= render partial: 'shared/footer' %>