<%= render partial: 'shared/header' %>
 
<nav class="product_introduction_show_container">

    <%= image_tag "silver_ion_water.png", alt: "代理店契約の説明", class: "product_introduction_show_img" %>

</nav>

<%= render partial: 'shared/footer' %>