.user_purchase_history_content {
  margin: 0px 150px;
  font-family: "游ゴシック体", YuGothic;
  letter-spacing: 2px;
  min-height: 50vh;

  .user_purchase_history_title {
    text-align: center;
    color: #59b69e;
    font-size: 20px;
  }
  .user_purchase_history_items {
    font-size: 14px;
    .user_purchase_history_item {
      border: 1px solid #ddd;
      border-radius: 8px;
      margin-bottom: 20px;

      .user_purchase_history_item_header {
        display: flex;
        background-color: #eee;
        border-radius: 8px 8px 0px 0px;
        padding: 10px;
        padding-left: 20px;
        .user_purchase_history_item_date {
          width: 150px;
        }
        .user_purchase_history_item_price {
          width: 150px;
        }
        .user_purchase_history_item_number {
        }
      }
      .user_purchase_history_item_footer {
        .user_purchase_history_item_context {
          display: flex;
          padding: 20px;
          .user_purchase_history_item_img {
            width: 150px;
            text-align: center;
          }
          .user_purchase_history_item_text {
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .user_purchase_history_content {
    margin: 50px 10px 0px;
    font-family: "游ゴシック体", YuGothic;
    letter-spacing: 2px;

    .user_purchase_history_title {
      text-align: center;
      color: #59b69e;
      font-size: 16px;
    }
    .user_purchase_history_items {
      font-size: 12px;
      .user_purchase_history_item {
        border: 1px solid #ddd;
        border-radius: 8px;
        margin-bottom: 20px;

        .user_purchase_history_item_header {
          display: grid;
          row-gap: 5px;
          background-color: #eee;
          border-radius: 8px 8px 0px 0px;
          padding: 5px;
          padding-left: 10px;
          .user_purchase_history_item_date {
            width: auto;
          }
          .user_purchase_history_item_price {
            width: auto;
          }
          .user_purchase_history_item_number {
            width: auto;
          }
        }
        .user_purchase_history_item_footer {
          .user_purchase_history_item_context {
            display: flex;
            padding: 20px;
            .user_purchase_history_item_img {
              width: 150px;
              text-align: center;
            }
            .user_purchase_history_item_text {
            }
          }
        }
      }
    }
  }
}
