@charset "UTF-8";
.cart_show_content {
  margin: 0px 300px;
  font-family: "游ゴシック体", YuGothic;
  letter-spacing: 2px;
}

.cart_show_content .cart_show_title {
  text-align: center;
  color: #59b69e;
  font-weight: bold;
  font-size: 32px;
}

.cart_show_content .cart_show_items .cart_show_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0px;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.cart_show_content .cart_show_items .cart_show_item .cart_show_img {
  width: 30%;
  text-align: center;
}

.cart_show_content .cart_show_items .cart_show_item .cart_show_img .no_image {
  width: 180px;
  height: 180px;
}

.cart_show_content .cart_show_items .cart_show_item .cart_show_context {
  width: 50%;
  font-size: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart_show_content .cart_show_items .cart_show_item .cart_show_context .cart_show_context_buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart_show_content .cart_show_items .cart_show_item .cart_show_context .cart_show_context_buy input.cart_show_context_buy_quantity {
  border: 1px solid #eee;
  width: 100px;
  height: 50px;
  text-align: center;
  -webkit-box-shadow: 0 2px 5px #ccc;
          box-shadow: 0 2px 5px #ccc;
  border-radius: 8px;
  padding-left: 10px;
}

.cart_show_content .cart_show_items .cart_show_item .cart_show_context .cart_show_context_buy input.cart_show_context_buy_update {
  color: #0066c0;
  cursor: pointer;
  border-right: 1px solid #ddd;
  padding: 5px 20px;
}

.cart_show_content .cart_show_items .cart_show_item .cart_show_context .cart_show_context_buy input.cart_show_context_buy_delete {
  color: #0066c0;
  cursor: pointer;
  padding: 5px 20px;
}

.cart_show_content .cart_show_items .cart_show_item .cart_show_price {
  width: 20%;
  font-size: 20px;
  text-align: right;
}

.cart_show_content .cart_show_total_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cart_show_content .cart_show_total_price p:nth-child(3) {
  font-weight: bold;
}

.cart_show_content .cart_show_register {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart_show_content .cart_show_register a:nth-child(1) {
  width: 250px;
  background-color: #ffd814;
  -webkit-box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
          box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  padding: 15px 50px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 50px;
}

.cart_show_content .cart_show_register a:nth-child(2) {
  width: 250px;
  background-color: #bdbdbd;
  -webkit-box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
          box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  padding: 15px 40px;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .cart_show_content {
    margin: 50px 5px 0px;
    font-family: "游ゴシック体", YuGothic;
  }
  .cart_show_content .cart_show_title {
    text-align: center;
    color: #59b69e;
    font-weight: bold;
    font-size: 16px;
  }
  .cart_show_content .cart_show_items .cart_show_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0px;
    border-bottom: 1px solid #ddd;
  }
  .cart_show_content .cart_show_items .cart_show_item .cart_show_img {
    width: 30%;
    text-align: center;
  }
  .cart_show_content .cart_show_items .cart_show_item .cart_show_img .no_image {
    height: 90px;
  }
  .cart_show_content .cart_show_items .cart_show_item .cart_show_context {
    width: 45%;
    font-size: 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cart_show_content .cart_show_items .cart_show_item .cart_show_context .cart_show_context_title {
    font-size: 12px;
    width: 150px;
  }
  .cart_show_content .cart_show_items .cart_show_item .cart_show_context .cart_show_context_buy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 200px;
  }
  .cart_show_content .cart_show_items .cart_show_item .cart_show_context .cart_show_context_buy input.cart_show_context_buy_quantity {
    border: 1px solid #eee;
    width: 70px;
    height: 40px;
    text-align: center;
    -webkit-box-shadow: 0 2px 5px #ccc;
            box-shadow: 0 2px 5px #ccc;
    border-radius: 8px;
    text-align: center;
  }
  .cart_show_content .cart_show_items .cart_show_item .cart_show_context .cart_show_context_buy input.cart_show_context_buy_update {
    color: #0066c0;
    cursor: pointer;
    border-right: 1px solid #ddd;
    padding: 10px;
  }
  .cart_show_content .cart_show_items .cart_show_item .cart_show_context .cart_show_context_buy input.cart_show_context_buy_delete {
    color: #0066c0;
    cursor: pointer;
    padding: 10px;
  }
  .cart_show_content .cart_show_items .cart_show_item .cart_show_price {
    width: 15%;
    font-size: 12px;
    text-align: right;
  }
  .cart_show_content .cart_show_total_price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 12px;
  }
  .cart_show_content .cart_show_total_price p:nth-child(3) {
    font-weight: bold;
  }
  .cart_show_content .cart_show_register {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
  }
  .cart_show_content .cart_show_register a:nth-child(1) {
    width: 180px;
    background-color: #ffd814;
    -webkit-box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
            box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
    padding: 10px 0px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .cart_show_content .cart_show_register a:nth-child(2) {
    width: 180px;
    background-color: #bdbdbd;
    -webkit-box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
            box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
    padding: 10px 0px;
    border-radius: 8px;
    cursor: pointer;
  }
}
/*# sourceMappingURL=show.css.map */