$title_size: 32px;
$sub_title_size: 20px;
$title_size_sm: 24px;
$title_weight: 900;
$sub_title_size_sm: 16px;
$sub_weight: 900;

.cart_show_content {
  margin: 0px 300px;
  font-family: "游ゴシック体", YuGothic;
  letter-spacing: 2px;

  .cart_show_title {
    text-align: center;
    color: #59b69e;
    font-weight: bold;
    font-size: $title_size;
  }

  .cart_show_items {
    .cart_show_item {
      display: flex;
      margin: 10px 0px;
      padding: 20px;
      border-bottom: 1px solid #ddd;

      .cart_show_img {
        width: 30%;
        text-align: center;
      }

      .cart_show_context {
        width: 50%;
        font-size: $sub_title_size;
        flex-direction: column;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .cart_show_context_title {
        }

        .cart_show_context_buy {
          display: flex;
          align-items: center;

          // 数量選択
          input.cart_show_context_buy_quantity {
            // background-color: #fff;
            // height: 31px;
            // padding: 3px 7px;
            border: 1px solid #eee;
            width: 100px;
            height: 50px;
            text-align: center;
            box-shadow: 0 2px 5px #ccc;
            border-radius: 8px;
            padding-left: 10px;
          }
          // 更新ボタン
          input.cart_show_context_buy_update {
            color: #0066c0;
            cursor: pointer;
            border-right: 1px solid #ddd;
            padding: 5px 20px;
          }
          // 削除ボタン
          input.cart_show_context_buy_delete {
            color: #0066c0;
            cursor: pointer;
            padding: 5px 20px;
          }
        }
      }

      .cart_show_price {
        width: 20%;
        font-size: $sub_title_size;
        text-align: right;
      }
    }
  }

  .cart_show_total_price {
    display: flex;
    font-size: $sub_title_size;
    justify-content: flex-end;

    p:nth-child(3) {
      font-weight: bold;
    }
  }

  .cart_show_register {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    a:nth-child(1) {
      width: 250px;
      background-color: #ffd814;
      box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
      padding: 15px 50px;
      border-radius: 8px;
      cursor: pointer;
      margin-bottom: 50px;
    }
    a:nth-child(2) {
      width: 250px;
      background-color: #bdbdbd;
      box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
      padding: 15px 40px;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 750px) {
  .cart_show_content {
    margin: 50px 20px 0px;
    font-family: "游ゴシック体", YuGothic;
    .cart_show_title {
      text-align: center;
      color: #59b69e;
      font-weight: bold;
      font-size: 20px
    }

    .cart_show_items {
      .cart_show_item {
        display: flex;
        margin: 10px 0px;
        padding: 20px 0px;
        border-bottom: 1px solid #ddd;

        .cart_show_img {
          width: 30%;
          text-align: center;
        }

        .cart_show_context {
          width: 55%;
          font-size: $sub_title_size;
          flex-direction: column;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: $sub_title_size_sm;

          .cart_show_context_title {
          }

          .cart_show_context_buy {
            display: flex;
            align-items: center;

            // 数量選択
            input.cart_show_context_buy_quantity {
              // background-color: #fff;
              // height: 31px;
              // padding: 3px 7px;
              border: 1px solid #eee;
              width: 40px;
              height: 40px;
              text-align: center;
              box-shadow: 0 2px 5px #ccc;
              border-radius: 8px;
              padding-left: 15px;
            }
            // 更新ボタン
            input.cart_show_context_buy_update {
              color: #0066c0;
              cursor: pointer;
              border-right: 1px solid #ddd;
              padding: 10px;
            }
            // 削除ボタン
            input.cart_show_context_buy_delete {
              color: #0066c0;
              cursor: pointer;
              padding: 10px;
            }
          }
        }

        .cart_show_price {
          width: 15%;
          font-size: $sub_title_size_sm;
          text-align: right;
        }
      }
    }

    .cart_show_total_price {
      display: flex;
      justify-content: flex-end;
      font-size: $sub_title_size_sm;

      p:nth-child(3) {
        font-weight: bold;
      }
    }

    .cart_show_register {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      a:nth-child(1) {
        width: 210px;
        background-color: #ffd814;
        box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
        padding: 15px 0px;
        border-radius: 8px;
        cursor: pointer;
        margin-bottom: 50px;
      }
      a:nth-child(2) {
        width: 210px;
        background-color: #bdbdbd;
        box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
        padding: 15px 40px;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }
}
