@import "../font";

.cart_show_content {
  padding: 150px 100px 50px;
  font-family: $font_family;
  letter-spacing: $letter_spacing;
  background-color: #f3f3f3;
  min-height: 70vh;

  .cart_show_title {
    text-align: center;
    color: #59b69e;
    font-weight: bold;
    font-size: $pc_main;
  }

  .cart_show_items {
    .cart_show_item {
      display: flex;
      margin: 10px auto;
      padding: 20px;
      border-bottom: 1px solid #ddd;
      background-color: white;
      border-radius: 8px;

      .cart_show_img {
        width: 30%;
        text-align: center;

        .no_image {
          width: 180px;
          height: 180px;
        }
        img {
          border-radius: 5px;
        }
      }

      .cart_show_context {
        width: 50%;
        font-size: $pc_subsub;
        flex-direction: column;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .cart_show_context_title {
          font-size: $pc_sub;
        }

        .cart_show_context_buy {
          display: flex;
          align-items: center;

          // 数量選択
          input.cart_show_context_buy_quantity {
            border: 1px solid #eee;
            width: 50px;
            height: 50px;
            text-align: center;
            box-shadow: 0 2px 5px #ccc;
            border-radius: 8px;
            padding-left: 10px;
          }
          // 更新ボタン
          input.cart_show_context_buy_update {
            color: #0066c0;
            cursor: pointer;
            border-right: 1px solid #ddd;
            padding: 5px 20px;
          }
          // 削除ボタン
          input.cart_show_context_buy_delete {
            color: #0066c0;
            cursor: pointer;
            padding: 5px 20px;
          }
        }
      }

      .cart_show_price {
        width: 20%;
        font-size: $sm_sub;
        text-align: right;
      }
    }
  }

  .cart_show_total_price {
    display: flex;
    font-size: $sm_sub;
    justify-content: flex-end;

    p:nth-child(3) {
      font-weight: bold;
    }
  }

  .cart_show_register {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    a:nth-child(1) {
      width: 250px;
      background-color: #ffd814;
      box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
      padding: 15px 50px;
      border-radius: 8px;
      cursor: pointer;
      margin-bottom: 50px;
    }
    a:nth-child(2) {
      width: 250px;
      background-color: #bdbdbd;
      box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
      padding: 15px 40px;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1024px) {
  .cart_show_content {
    padding: 150px 50px 50px;

    .cart_show_title {
      text-align: center;
      color: #59b69e;
      font-weight: bold;
      font-size: $pc_main;
    }

    .cart_show_items {
      .cart_show_item {
        display: flex;
        margin: 10px 0px;
        padding: 20px;
        border-bottom: 1px solid #ddd;
        background-color: white;
        border-radius: 8px;

        .cart_show_img {
          width: 30%;
          text-align: center;

          .no_image {
            width: 180px;
            height: 180px;
          }
          img {
            border-radius: 5px;
          }
        }

        .cart_show_context {
          width: 50%;
          font-size: $pc_subsub;
          flex-direction: column;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .cart_show_context_title {
            font-size: $pc_sub;
          }

          .cart_show_context_buy {
            display: flex;
            align-items: center;

            // 数量選択
            input.cart_show_context_buy_quantity {
              border: 1px solid #eee;
              width: 50px;
              height: 50px;
              text-align: center;
              box-shadow: 0 2px 5px #ccc;
              border-radius: 8px;
              padding-left: 10px;
              margin-left: 10px;
            }
            // 更新ボタン
            input.cart_show_context_buy_update {
              color: #0066c0;
              cursor: pointer;
              border-right: 1px solid #ddd;
              padding: 5px 20px;
            }
            // 削除ボタン
            input.cart_show_context_buy_delete {
              color: #0066c0;
              cursor: pointer;
              padding: 5px 20px;
            }
          }
        }

        .cart_show_price {
          width: 20%;
          font-size: $sm_sub;
          text-align: right;
        }
      }
    }

    .cart_show_total_price {
      display: flex;
      font-size: $sm_sub;
      justify-content: flex-end;

      p:nth-child(3) {
        font-weight: bold;
      }
    }

    .cart_show_register {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      a:nth-child(1) {
        width: 250px;
        background-color: #ffd814;
        box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
        padding: 15px 50px;
        border-radius: 8px;
        cursor: pointer;
        margin-bottom: 50px;
      }
      a:nth-child(2) {
        width: 250px;
        background-color: #bdbdbd;
        box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
        padding: 15px 40px;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .cart_show_content {
    padding: 100px 10px 55px;
    font-family: "游ゴシック体", YuGothic;
    .cart_show_title {
      text-align: center;
      color: #59b69e;
      font-weight: bold;
      font-size: $sm_main;
    }

    .cart_show_items {
      .cart_show_item {
        display: flex;
        padding: 20px 5px;
        border-bottom: 1px solid #ddd;

        .cart_show_img {
          width: 30%;
          text-align: center;
          .no_image {
            height: 90px;
          }
        }

        .cart_show_context {
          width: 45%;
          font-size: $sm_subsub;
          flex-direction: column;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .cart_show_context_title {
            width: 150px;
            font-size: $sm_subsub;
            padding: 5px;
          }

          .cart_show_context_buy {
            display: flex;
            align-items: center;
            width: 210px;

            // 数量選択
            input.cart_show_context_buy_quantity {
              border: 1px solid #eee;
              width: 50px;
              height: 30px;
              text-align: center;
              box-shadow: 0 2px 5px #ccc;
              border-radius: 8px;
              margin-left: 10px;
              padding: 0px;
              padding-left: 15px;
            }
            // 更新ボタン
            input.cart_show_context_buy_update {
              color: #0066c0;
              cursor: pointer;
              border-right: 1px solid #ddd;
              padding: 10px;
            }
            // 削除ボタン
            input.cart_show_context_buy_delete {
              color: #0066c0;
              cursor: pointer;
              padding: 10px;
            }
          }
        }

        .cart_show_price {
          width: 15%;
          font-size: $sm_sub;
          text-align: right;
        }
      }
    }

    .cart_show_total_price {
      display: flex;
      justify-content: flex-end;
      font-size: 14px;

      p:nth-child(3) {
        font-weight: bold;
      }
    }

    .cart_show_register {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 12px;

      a:nth-child(1) {
        width: 180px;
        background-color: #ffd814;
        box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
        padding: 10px 0px;
        border-radius: 8px;
        cursor: pointer;
        margin-bottom: 10px;
      }
      a:nth-child(2) {
        width: 180px;
        background-color: #bdbdbd;
        box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
        padding: 10px 0px;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }
}
